<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-dark">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"></a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav flex-row w-100">
                <li class="nav-item px-2 mr-auto active">
                    <a class="nav-link"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">REGISTRO</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link " [routerLink]="['/home']" [routerLinkActive]="['active']">INICIO</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <br />

    <div class="alert alert-success">
        <div class="row my-5">
            <div class="col-md-4 col-md-offset-4">
                <div class="">
                    <div class="tab-content ">
                        <div class="tab-pane fadeIn active">
                            <div class="innter-form">
                                <form class="sa-innate-form" ngNativeValidate #loginForm="ngForm" (ngSubmit)="ingresar(loginForm)">
                                    <h5>INGRESAR</h5>
                                    <label><b>Correo Electrónico:</b></label>
                                    <input type="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" class="form-control"
                                        placeholder="Ingrese su nombre de usuario" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                    <label><b>Contraseña:</b></label>
                                    <input type="password" name="password" #password="ngModel" [(ngModel)]="usuario.password"
                                        class="form-control" placeholder="Ingrese su contraseña" required>
                                    <button class="btn btn-primary" type="submit">Entrar</button>
                                </form>

                            </div>

                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>


</body>

</html>