<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-body">

      <div class="tab-content">
        <div class="tab-pane fadeIn active">
          <div class="innter-form">
            <form class="sa-innate-form">

              <div class="form-group ">
                <div class="col-xs-12">
                  <label>Nombre</label>
                  <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="Nombre">
                </div>
              </div>

              <div class="form-group ">
                <div class="col-xs-12">
                  <label>Correo Electronico</label>
                  <input formControlName="email" name="email" class="form-control" type="email" required placeholder="Correo">
                </div>
              </div>

              <div class="form-group ">
                <div class="col-xs-12">
                  <label>Password</label>
                  <input formControlName="password" name="password" class="form-control" type="password" required
                    placeholder="Contrasena">
                </div>
              </div>


              <div class="col-xs-12">
                <button class="btn btn-primary" type="submit">Registrarme</button>
              </div>

            </form>

          </div>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</div>