html{
    width: 100;
    height: 100;
}

body{

    background:#8ba987 url('https://i.pinimg.com/originals/00/28/31/002831141ef797625b3d013b7d217067.jpg') no-repeat center center;

    background-size:100% 100%;


}