<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div style="background:transparent !important" class="jumbotron">
    <h3><b>Fecha y Hora de la cita.</b></h3>
    <!--SELECCIONAR HORARIO DE ATENCION -->
    <div class="row">

      <!--rigth column -->
      <div class="col-md-16">
        <div class="box box-primary">
          <div class="box-body">
            <label type="text txt-white"><b>FECHA</b></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>

              <form ngNativeValidate [formGroup]="forma" (ngSubmit)="citar()">
                <div class="form-group">
                  <div class="col-xs-12">
                    <input formControlName="fecha" name="fecha" class="form-control" type="datetime-local" required>
                  </div>
                </div>

                <div id="seccionSolicitud">
                  <select (change)="cambioEstado($event.target.value)">
                    <option value=""></option>
                    <option [value]="esto[0]"> {{ esto[0] }} </option>
                    <option [value]="esto[1]"> {{ esto[1] }} </option>
                  </select>
                </div>
                <hr>

                <div class="form-group text-left m-t-10">
                  <div class="col-xs-6">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" (click)="onBack()">
                      <i class="fa fa-arrow-left"></i> Regresar
                    </button>
                  </div>
                </div>



                <div class="form-group text-center m-t-20">
                  <div class="col-xs-6">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit"
                      [disabled]="estado === 'Rechazar' || estado === ''">
                      Crear
                    </button>
                  </div>
                </div>

              </form>

            </div>


          </div>
        </div>
      </div>

    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>


</body>

</html>