<section class="content-header">
  <h1 style="text-align: center">RESERVA DE CITAS</h1>
</section>

<section class="content">

  <div class="row">
    <!--left column -->
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-body">
          <div class="form-group">
            <label>DOCUMENTO DE IDENTIDAD</label>
          </div>

        </div>
        <br>


      </div>
      <!-- </form> -->
    </div>
  </div>
  <!--rigth column -->
  <div class="col-md-6">
    <div class="box box-primary">
      <br>
      <div class="box-body">


      </div>
    </div>
  </div>
  <section class="content-header">
    <h3 align="center">Fecha y Hora de la cita.</h3>
  </section>
  <!--SELECCIONAR HORARIO DE ATENCION -->
  <div class="row">
    <!--left column -->
    <div class="col-md-4">
      <div class="box box-primary">
        <!-- <form role="form"> -->
      </div>
    </div>
    <!--rigth column -->
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-body">
          <label>FECHA</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="datetime-local" name="fecha">
          </div>
        </div>
      </div>
    </div>

  </div>

</section>